<header>
    <div class="brand">
        <img src="{{ site.url }}/assets/images/logo.png" alt="logo tehataukopi" width="150">
        <div class="headline">
            <h1>Teh Atau Kopi ☕</h1>
            <h2>Random podcast tentang hidup</h2>
        </div>
    </div>

    <nav id="menu">
        <a href="/">Podcast</a>
        <a href="/blog">Blog</a>
    </nav>
</header>

<div id="socmed">
    <a href="https://facebook.com/tehataukopi"><img src="{{ site.url }/assets/images/fb.png"></a>
    <a href="https://instagram.com/tehataukopi"><img src="{{ site.url }/assets/images/ig.png"></a>
    <a href="https://www.youtube.com/channel/UCWu9Ns4qVcyHNd4vZcMCwPg"><img src="{{ site.url }/assets/images/utube.png"></a>
    <a href="https://twitter.com/tehataukopi"><img src="{{ site.url }/assets/images/tw.png"></a>
    <!-- social media icons by https://www.axialis.com/ -->
</div>
