<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <div id="socmed">
        <a href="https://facebook.com/tehataukopi"><img src="{{ site.url }/assets/images/fb.png"></a>
        <a href="https://instagram.com/tehataukopi"><img src="{{ site.url }/assets/images/ig.png"></a>
        <a href="https://www.youtube.com/channel/UCWu9Ns4qVcyHNd4vZcMCwPg"><img src="{{ site.url }/assets/images/utube.png"></a>
        <a href="https://twitter.com/tehataukopi"><img src="{{ site.url }/assets/images/tw.png"></a>
        <!-- social media icons by https://www.axialis.com/ -->
    </div>

    {{ content }}

    {% include footer.html %}
  </body>
</html>
