---
layout: default
---
<div id="socmed">
    <a href="https://facebook.com/tehataukopi"><img src="{{ site.url }/assets/images/fb.png"></a>
    <a href="https://instagram.com/tehataukopi"><img src="{{ site.url }/assets/images/ig.png"></a>
    <a href="https://www.youtube.com/channel/UCWu9Ns4qVcyHNd4vZcMCwPg"><img src="{{ site.url }/assets/images/utube.png"></a>
    <a href="https://twitter.com/tehataukopi"><img src="{{ site.url }/assets/images/tw.png"></a>
    <!-- social media icons by https://www.axialis.com/ -->
</div>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <h1 class="is-headline">{{ page.title }}</h1>

    <div class="is-paragraph" itemprop="articleBody">
        {{ content }}
    </div>
</article>

<div class="">
    Publish pada <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
</div>

<br>
<div class="sharethis-inline-share-buttons"></div>
<br>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://tehataukopi.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
